@import 'tailwindcss';

@plugin 'tailwindcss-animate';

/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));

/** Theme Colors **/
:root {
  /** Base Colors **/
  --background: 0 0% 100%;
  --foreground: 240 10% 3%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3%;

  /** Contextual Colors **/
  --muted: 0 0% 97%;
  --muted-darker: 0 0% 94%;
  --muted-foreground: 240 3% 40%;
  --accent: 0 0% 96%;
  --accent-darker: 0 0% 93%;
  --accent-foreground: 240 4% 20%;
  --secondary: 0 0% 95%;
  --secondary-darker: 0 0% 92%;
  --secondary-foreground: 240 4% 18%;
  --primary: 212 88% 51%;
  --primary-darker: 212 88% 44%;
  --primary-foreground: 0 0% 100%;
  --mono: 222 15% 13%;
  --mono-darker: 0 0% 0%;
  --mono-foreground: 0 0% 100%;
  --destructive: 349 86% 50%;
  --destructive-darker: 349 86% 44%;
  --destructive-foreground: 0 0% 100%;
  --warning: 47 100% 48%;
  --warning-darker: 47 100% 38%;
  --warning-foreground: 0 0% 100%;
  --success: 137 89% 41%;
  --success-darker: 137 94% 31%;
  --success-foreground: 0 0% 100%;
  --info: 252 83% 52%;
  --info-darker: 252 83% 46%;
  --info-foreground: 0 0% 100%;

  /** Base Styles **/
  --border: 0 0% 94%;
  --input: 0 0% 89%;
  --ring: 0 0% 84%;
  --radius: 0.5rem;
}

.dark {
  /** Base Colors **/
  --background: 240 10% 4%;
  --foreground: 0 0% 90%;
  --card: 240 10% 4%;
  --card-foreground: 0 0% 90%;
  --popover: 240 10% 4%;
  --popover-foreground: 0 0% 90%;

  /** Contextual Colors **/
  --muted: 240 6% 9%;
  --muted-darker: 240 6% 13%;
  --muted-foreground: 240 6% 60%;
  --accent: 240 6% 10%;
  --accent-darker: 240 6% 14%;
  --accent-foreground: 0 0% 98%;
  --secondary: 240 6% 11%;
  --secondary-darker: 240 6% 15%;
  --secondary-foreground: 0 0% 98%;
  --primary: 212 88% 51%;
  --primary-darker: 212 88% 55%;
  --primary-foreground: 0 0% 100%;
  --mono: 0 0% 90%;
  --mono-darker: 0 0% 100%;
  --mono-foreground: 0 0% 0%;
  --destructive: 349 86% 50%;
  --destructive-darker: 349 86% 54%;
  --destructive-foreground: 0 0% 100%;
  --success: 137 89% 40%;
  --success-darker: 137 72% 44%;
  --success-foreground: 0 0% 100%;
  --warning: 47 100% 48%;
  --warning-darker: 47 100% 52%;
  --warning-foreground: 0 0% 100%;
  --info: 256 89% 52%;
  --info-darker: 256 89% 56%;
  --info-foreground: 0 0% 100%;

  /** Base Styles **/
  --border: 230 10% 14%;
  --input: 230 10% 20%;
  --ring: 230 10% 40%;
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  /** Contextual Colors **/
  --color-muted: hsl(var(--muted));
  --color-muted-darker: hsl(var(--muted-darker));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-darker: hsl(var(--accent-darker));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-darker: hsl(var(--primary-darker));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-darker: hsl(var(--secondary-darker));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-mono: hsl(var(--mono));
  --color-mono-darker: hsl(var(--mono-darker));
  --color-mono-foreground: hsl(var(--mono-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-darker: hsl(var(--destructive-darker));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-success: hsl(var(--success));
  --color-success-darker: hsl(var(--success-darker));
  --color-success-foreground: hsl(var(--success-foreground));

  --color-warning: hsl(var(--warning));
  --color-warning-darker: hsl(var(--warning-darker));
  --color-warning-foreground: hsl(var(--warning-foreground));

  --color-info: hsl(var(--info));
  --color-info-darker: hsl(var(--info-darker));
  --color-info-foreground: hsl(var(--info-foreground));

  /** Base Styles **/
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Scrollbar **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

/** Custom Container **/
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    max-width: 1440px;
  }
}
